// General styles for the application

@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,400italic,700);

body {
    font-family: 'Open Sans', sans-serif;
    font-size: 0.8em;
}

h1 {
    font-size: 1.5em;
}

h2 {
    font-size: 1.2em;
}
