<div class="ck2mt-page ck2mt-startupPage">
    <h1>CK2 Modding Tool</h1>

    <h2>Select/Create a Project</h2>

    <div class="ck2mt-projects">
        <div class="ck2mt-projectList">
            <label>Projects</label>
            <select class="ck2mt-dropDown"></select>
        </div>

        <div class="ck2mt-newProject">
            <a href="javascript:void(0)" class="ck2mt-btn" onclick="$(window).trigger('newProject')">
                Create New Project
            </a>
        </div>
    </div>
</div>
